<section class="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <!-- <img src="" alt="cow" /> -->
    <p class="about__list-text">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about__list-text">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
  </div>
  <!--PADING SECTION-->

  <div class="advantage">
    <ul class="advantage__list">
      <li class="advantage__list-item">
        <div class="advantage__item">
          <svg aria-label="icon cow" class="advantage__list-icon">
            <use href="./images/sprite.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="name-container">721</h3>
        <p class="advantage__discribe" lang="en">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__list-item">
        <div class="advantage__item">
          <svg aria-label="icon weight" class="advantage__list-icon">
            <use href="./images/sprite.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="name-container">16kg</h3>
        <p class="advantage__discribe" lang="en">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__list-item">
        <div class="advantage__item">
          <svg aria-label="icon ice-crema" class="advantage__list-icon">
            <use href="./images/sprite.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <h3 class="name-container">84</h3>
        <p class="advantage__discribe" lang="en">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
