<section class="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <picture>
      <sourse
        srcset="./src/images/desktop/cow-desktop.webp 1x, ./src/images/desktop/cow-desktop@2x.webp 2x"
        media="min-width: 1200px"
        type="image/webp"
      >
      </sourse>
      <sourse
        srcset="./src/images/desktop/cow-desktop.jpg 1x, ./src/images/desktop/cow-desktop@2x.jpg 2x"
        media="min-width: 1200px"
      >
      </sourse>
      <sourse
        srcset="./src/images/tablet/cow-tablet.webp 1x, ./src/images/tablet/cow-tablet@2x.webp 2x"
        media="min-width: 768px"
        type="image/webp"
      >
      </sourse>
      <sourse
        srcset="./src/images/tablet/cow-tablet.jpg 1x, ./src/images/tablet/cow-tablet@2x.jpg 2x"
        media="min-width: 768px"
      >
      </sourse>
      <sourse
        srcset="./src/images/mobile/cow-mobile.webp 1x, ./src/images/mobile/cow@2x-mobile.webp 2x"
        media="max-width: 767px"
        type="image/webp"
      >
      </sourse>
      <sourse
        srcset="./src/images/mobile/cow-mobile.jpg 1x, ./src/images/mobile/cow@2x-mobile.jpg 2x"
        media="max-width: 767px"
      >
      </sourse>
      <!-- <img src="" alt="cow" /> -->
    </picture>
    <div class="about__text">
      <p class="about__list-text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about__list-text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about__list-text about_list-text-none">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </div>

    <button>Read more</button>
  </div>
</section>
