<section class="contacts">
    <div class="container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
        <address>
        <ul class="contacts__list">
            <li class="contacts__item">
            <p class="contacts__subtitle">Cafe</p>
            <div class="contacts__group contacts__group_not-padding-top">
                <p class="contacts__text">Chicago</p>
                <a class="contacts__address" href="#">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            </div>
            <div class="contacts__group">
                <p class="contacts__weekdays">Monday - Friday</p>
                <time class="contacts__time" datatime="06:00-22:00">06:00 AM - 10:00 PM</time>
                <p class="contacts__weekdays contacts__weekdays_margin">Saturday - Sunday</p>
                <time class="contacts__time" datatime="06:00-16:00">08:00 AM - 16:00 PM</time>
            </div>
            <div class="contacts__group contacts__group_not-padding-bottom">
                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
            </li>
            <li class="contacts__item">
                <p class="contacts__subtitle contacts__subtitle_width">Food Truck</p>
                <div class="contacts__group contacts__group_not-padding-top">
                    <p class="contacts__text">Los Angeles</p>
                    <a class="contacts__address" href="#">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>
                <div class="contacts__group">
                    <p class="contacts__weekdays">Monday - Friday</p>
                    <time class="contacts__time" datatime="06:00-22:00">06:00 AM - 10:00 PM</time>
                    <p class="contacts__weekdays contacts__weekdays_margin">Saturday - Sunday</p>
                    <time class="contacts__time" datatime="06:00-16:00">08:00 AM - 16:00 PM</time>
                </div>
                <div class="contacts__group contacts__group_not-padding-bottom">
                    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                </li>
                <li class="contacts__item">
                    <p class="contacts__subtitle">Cafe</p>
                    <div class="contacts__group contacts__group_not-padding-top">
                        <p class="contacts__text">New York</p>
                        <a class="contacts__address" href="#">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </div>
                    <div class="contacts__group">
                        <p class="contacts__weekdays">Monday - Friday</p>
                        <time class="contacts__time" datatime="06:00-22:00">06:00 AM - 10:00 PM</time>
                        <p class="contacts__weekdays contacts__weekdays_margin">Saturday - Sunday</p>
                        <time class="contacts__time" datatime="06:00-16:00">08:00 AM - 16:00 PM</time>
                    </div>
                    <div class="contacts__group contacts__group_not-padding-bottom">
                        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                    </li>
        </ul>
    </address>
    <div class="contacts__button">
    <button class="contacts__button_primary" type="button">Our Locations</button>
    <button class="contacts__button_secondary" type="button">Franchise</button>
</div>
    </div>
</section>