<div class="customer__section"> 
  <h2 сlass="visually-hidden" hidden>Customer reviews</h2>
  <div class="container customer__wrapper">

   

    <div class="customer__slide swiper customer__thumb">
      <ul class="customer__list swiper-wrapper">
        <li class="customer__item swiper-slide">
          <div class="customer__img">
            <picture>
              <source
                srcset="
                  ./images/desktop/gallery3@1x-min.jpg 1x,
                  ./images/desktop/gallery3@2x-min.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                ./images/tablet/gallery3@1x-min.jpg 1x,
                ./images/tablet/gallery3@2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/mobile/gallery3@1x-min.jpg 1x,
                ./images/mobile/gallery3@2x-min.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/gallery3@1x-min.jpg"
                alt="Emily, Los Angeles"
              />
            </picture>
          </div>
        </li>
        <li class="customer__item swiper-slide">
          <div class="customer__img">
            <picture>
              <source
                srcset="
                ./images/desktop/gallery2@1x-min.jpg 1x,
                ./images/desktop/gallery2@2x-min.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                ./images/tablet/gallery2@1x-min.jpg 1x,
                ./images/tablet/gallery2@2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/mobile/gallery2@1x-min.jpg 1x,
                ./images/mobile/gallery2@2x-min.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/gallery2@1x-min.jpg"
                alt="Emily, Los Angeles"
              />
            </picture>
          </div>
        </li>
        <li class="customer__item swiper-slide">
          <div class="customer__img">
            <picture>
              <source
                srcset="
                  ./images/desktop/emily-bg1x.webp 1x,
                  ./images/desktop/emily-bg2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/emily-bg1x.webp 1x,
                  ./images/tablet/emily-bg2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/emily-bg1x.webp 1x,
                  ./images/mobile/emily-bg2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/emily-bg1x.webp"
                alt="Emily, Los Angeles"
              />
            </picture>
          </div>
        </li>
      </ul>

      <!-- If we need navigation buttons -->

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>

    <div class="customer__swiper">
      <div class="customer__slide swiper">
        <ul class="customer__list swiper-wrapper">
          <li class="customer__item swiper-slide">
            <div class="customer__avatar">
              <div class="customer__icon">
                <picture>
                  <source
                    srcset="./images/emily1x.webp 1x, ./images/emily2x.webp 2x"
                    media="(min-width: 320px)"
                  />
                  <img src="./images/emily1x.webp" alt="Emily, Los Angeles" />
                </picture>
              </div>
              <p class="customer__subtitle">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
              <p class="customer__title">Emily, Los Angeles</p>
              <div class="swiper-pagination"></div>
            </div>
          </li>
          <li class="customer__item swiper-slide">
            <div class="customer__avatar">
              <div class="customer__icon">
                <picture>
                  <source
                    srcset="./images/sam1x.webp 1x, ./images/sam2x.webp 2x"
                    media="(min-width: 320px)"
                  />
                  <img src="./images/sam1x.webp" alt="Sam, Los Angeles" />
                </picture>
              </div>
              <p class="customer__subtitle">
                I love eating popsicles on a hot day. Yours is always delicious.
                I recommend your cafe to everyone I know.
              </p>
              <p class="customer__title">Sam, Los Angeles</p>
              <div class="swiper-pagination"></div>
            </div>
          </li>
          <li class="customer__item swiper-slide">
            <div class="customer__avatar">
              <div class="customer__icon">
                <picture>
                  <source
                    srcset="./images/diana1x.webp 1x, ./images/diana2x.webp 2x"
                    media="(min-width: 320px)"
                  />
                  <img src="./images/diana1x.webp" alt="Diana, Chicago" />
                </picture>
              </div>
              <p class="customer__subtitle">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
              <p class="customer__title">Diana, Chicago</p>
              <div class="swiper-pagination"></div>
            </div>
          </li>
          <li class="customer__item swiper-slide">
            <div class="customer__avatar">
              <div class="customer__icon">
                <picture>
                  <source
                    srcset="./images/bryan1x.webp 1x, ./images/bryan2x.webp 2x"
                    media="(min-width: 320px)"
                  />
                  <img src="./images/bryan1x.webp" alt="Bryan, New-York" />
                </picture>
              </div>
              <p class="customer__subtitle">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
              <p class="customer__title">Bryan, New-York</p>
              <div class="swiper-pagination"></div>
            </div>
          </li>
          <!-- <div class="swiper-pagination"></div> -->
        </ul>

        <!-- <div class="swiper-pagination"></div> -->

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>
