<footer class="footer">
    <div class="container">
        <div class="footer__container">
        <div class="footer__title">
        <p class="footer__subtitle footer__subtitle_last">homemade ice cream made</p>
        <p class="footer__subtitle footer__subtitle_font">with passion</p>
    </div>
    <div class="footer__box">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="#">
                    <svg class="footer__icon" width="20" height="20">
                        <use href="./images/sprite.svg#icon-git"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">
                    <svg class="footer__icon" width="20" height="20">
                        <use href="./images/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">
                    <svg class="footer__icon" width="20" height="20">
                        <use href="./images/sprite.svg#icon-fb"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__contacts">
            <p class="footer__text">Feel free to contact&nbsp;</p>
            <a class="footer__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        </div>
        </div>
    </div>
        <div class="footer__copyright">
        <p class="footer__copy">&#169;&nbsp;2022 - IceCream.</p>
        <p class="footer__copy">&nbsp;All Rights Reserved.</p>
    </div>
    </div>
</footer>