.contacts {
    width: 100%;
    background-color: #84A178;
} 
.contacts__container {
    padding-bottom: 39px;
}
.contacts__wrapper {
    position: relative;
    height: 1137px;
} 
.contacts__list {
    position: absolute;
    overflow: hidden;
    top: -345px;
    }
.wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contacts__item {
    margin-left: auto;
margin-right: auto;
    max-width: 280px;
    background: #FCFCFC;
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
padding: 40px 32px;
margin-bottom: 20px;
}
.contacts__item_last {
    margin-bottom: 0;
}
.contacts__subtitle {
width: 80px;
background-color: #F8D24E;
border-radius: 4px;
margin-bottom: 20px;
@include font(500, 12px, 22px);
text-align: center;
text-transform: uppercase;
letter-spacing: 0.04em;
}
.contacts__subtitle_width {
    width: 130px;
}
.contacts__group {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}
.contacts__group_not-padding-top {
    padding-top: 0;
}
.contacts__group_not-padding-bottom {
    padding-bottom: 0;
    border-bottom: 0;
}
.contacts__text {
@include font(500, 12px, 22px);
letter-spacing: 0.04em;
margin-bottom: 8px;
}
.contacts__address {
@include font(500, 12px, 22px);
letter-spacing: 0.04em;
color: #D6936D;
&:hover,
&:focus {
    text-decoration: underline;
    cursor: url(../images/cursor.png), pointer;
}
}
.contacts__weekdays {
@include font(500, 12px, 22px);
}
.contacts__time {
@include font(500, 12px, 22px);
color: #ABABAB;
}
.contacts__weekdays_margin {
margin-top: 8px;
}
.contacts__tel,
.contacts__email {
@include font(500, 12px, 18px);
color:#131313;
}
.contacts__primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    min-width: 196px;
    padding: 12px 34px;
margin-bottom: 16px;
margin-left: auto;
margin-right: auto;
@include font(600, 14px, 18px);
}
.contacts__secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    min-width: 196px;
    padding: 12px 46px;
margin-left: auto;
margin-right: auto;
@include font(600, 14px, 18px);
}
.secondary-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &:hover {
      border: 2px solid #0a8817;
    }
  
    &:focus {
      border: 2px solid #0a8817;
      color: #fcfcfc;
    }
  
    &:focus.chevron-right-icon {
      fill: #fcfcfc;
    }
  
    &:disabled {
      border: 2px solid #ababab;
      color: #000000;
    }
  } 
  .contacts__secondary-btn:focus,
  .contacts__primary-btn:focus .contacts__icon-btn {
        fill: #ffffff;
  }  
@media screen and(min-width: 768px) {
    .contacts__container {
        padding-bottom: 40px;
    }
    .contacts__wrapper {
        height: 325px;
    } 
.contacts__list {
    display: flex;
    column-gap: 16px;
    top: -303px;
}
.contacts__item {
    max-width: 224px;
    padding: 40px 24px;
    margin-bottom: 0;
}
.contacts__subtitle {
    margin-bottom: 0;
    width: 73px;
    border-radius: 6px;
    @include font(500, 16px, 30px);
        }
.contacts__subtitle_width {
    width: 138px;
        }
.contacts__group {
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts__group_not-padding-bottom {
    padding-bottom: 0;
}
.contacts__text {
    @include font(500, 14px, 26px);
    margin-bottom: 12px;
}
.contacts__address {
     @include font(500, 14px, 26px);
}
.contacts__weekdays {
     @include font(500, 14px, 26px);
        }
.contacts__time {
    @include font(500, 14px, 26px);
}
.contacts__weekdays_margin {
    margin-top: 12px;
}
.contacts__tel,
.contacts__email {
    @include font(500, 14px, 26px);
}
.contacts__button {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center; 
}
.contacts__primary-btn {
    margin: 0;
}
.contacts__secondary-btn {
    margin: 0;
}
}

@media screen and(min-width: 1200px) {
    .contacts__container {
        padding-bottom: 120px;
    }
    .contacts__wrapper {
        height: 525px;
    } 
.contacts__list {
    display: flex;
    column-gap: 32px;
    top: -96px;
}
.contacts__item {
    max-width: 368px;
    padding: 40px;
}
.contacts__subtitle {
    width: 75px;
}
.contacts__subtitle_width {
    width: 138px;
}
.contacts__text {
    @include font(500, 16px, 30px);
margin-bottom: 8px;
}
.contacts__address {
    @include font(500, 16px, 29px);
}
.contacts__weekdays {
    @include font(500, 16px, 30px);
}
.contacts__time {
    @include font(500, 16px, 30px);
}
.contacts__tel,
.contacts__email {
    @include font(500, 16px, 29px);
}     
}