@media screen and (max-width: 767px) {
    .hero-amount__menu {
      display: none;
    }
    .header__button {
      display: none;
    }
    .content-wrapper {
      display: none;
    }
    .header-nav {
      display: none;
    }
    // header
    .header {
      background-color: #84A178;
      padding-top: 12px;
    }
    .header__wrapper {
      display: flex;
      justify-content: space-between;
    }
    // .header__logo {
    //    margin-bottom: 61px;
    // }
    .header__burger {
      background-color: transparent;
    }
    .logo {
      width: 40px;
      height: 37px;
    }
    .burger-icon {
      width: 32px;
      height: 32px;
    }
    // hero
    .hero__babble-background {
      position: relative;
      padding-top: 61px;
      background-color: #84A178;
      height: 453px;
      background-image: url(../images/mobile/bubbles@1x.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      overflow: hidden;
      background-size: contain;
    }
    .hero {
      background-color: #84A178;
    }
    .hero__title {
      width: 247px;
      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 33px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FCFCFC;
      margin-bottom: 32px;
    }
    .hero__button-wrapper {
      display: flex;
      gap: 8px;
      margin-bottom: 189px;
    }
    .hero__ice {
      position: absolute;
      left: 45%;
      bottom: 0;
      transform: translate(-45%, 17%);
    }
  }
  @media screen and (min-width: 768px) {
    .header-nav__menu {
      display: none;
    }
    .header {
      background-color: #84A178;
      padding-bottom: 6px;
    }
    .header__button {
      width: 152px;
      height: 42px;
    }
    .header__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
    }
    // .header__logo {
    //     padding-top: 20px;
    // }
    .logo {
      width: 48px;
      height: 44px;
    }
    // .header__button {
    //     margin-bottom: 28px;
    // }
    .button {
      width: 12px;
      height: 12px;
    }
    .header__burger-wrapper {
      display: flex;
      gap: 32px;
    }
    .header__burger {
      background-color: transparent;
    }
    .burger-icon {
      width: 32px;
      height: 32px;
    }
    // hero
    .hero__babble-background {
      background-color: #84A178;
      position: relative;
      background-image: url(../images/tablet/bubbles@1x.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-bottom: 13px;
      overflow: hidden;
    }
    .hero {
      background-color: #84A178;
    }
    .hero__title {
      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      color: #FCFCFC;
      width: 181px;
      margin-bottom: 20px;
    }
    .title__amond-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .hero__title_big {
      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 13px;
      text-transform: uppercase;
      color: #FCFCFC;
    }
    .hero__button-wrapper {
      display: flex;
      gap: 8px;
      margin-bottom: 28px;
    }
    .hero__button {
      height: 24px;
    }
    .hero__ice {
      position: absolute;
      right: 22%;
      bottom: 2px;
      transform: translate(29%, 13%);
      height: 370px;
    }
    .hero-amount__item:not(:last-child) {
      margin-bottom: 20px;
    }
    .hero-amount__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: right;
      color: #131313;
    }
    .hero-amount__text_position {
      text-align: right;
    }
    .hero-amount__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      color: #FCFCFC;
    }
    .content-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 33px;
    }
    .content-wrapper__image {
      width: 152px;
      height: 152px;
      .text-arrow-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    .text-arrow-wrapper__text {
      width: 151px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #FCFCFC;
    }
    //   .text-arrow-wrapper__text::after {
    //     background-image: url(../images/tablet/arrow.svg);
    //     width: 40px;
    //     height: 20px;
    //     content: '';
    //   }
    .text-arrow-wrapper__arrow {
      width: 40px;
      height: 40px;
    }
  }
  @media screen and (min-width: 1200px) {
    .header__burger {
      display: none;
    }
    .header__logo {
      padding-top: 8px;
    }
    .logo {
      width: 60px;
      height: 65px;
    }
    .header__wrapper {
      padding-top: 0;
    }
    .header-nav__menu {
      display: flex;
      gap: 27px;
    }
    .header-nav__item {
      padding-top: 40px;
    }
    .header-nav__link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FCFCFC;
      &:hover,
      &:focus {
        color: #F8D24E;
      }
    }
    .header__button {
      width: 152px;
      height: 42px;
      margin-top: 28px;
    }
    .hero__babble-background {
      position: relative;
      padding-top: 45px;
      background-image: url(../images/desktop/bubbles.png);
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    .hero {
      background-color: #84A178;
    }
    .hero__title {
      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 48px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FCFCFC;
      width: 367px;
      margin-bottom: 28px;
    }
    .hero__title_big {
      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 48px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FCFCFC;
    }
    .hero__button-wrapper {
      display: flex;
      gap: 12px;
      margin-bottom: 42px;
    }
    .hero-amount__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: right;
      color: #131313;
    }
    .hero-amount__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FCFCFC;
    }
    .hero-amount__text_position {
      text-align: right;
    }
    .content-wrapper {
      padding-bottom: 65px;
      gap: 14px;
      display: flex;
      align-items: center;
    }
    .content-wrapper__image {
      width: 225px;
      height: 225px;
    }
    .text-arrow-wrapper__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FCFCFC;
      width: 200px;
      margin-bottom: 32px;
    }
    .text-arrow-wrapper__arrow {
      width: 40px;
      height: 20px;
    }
    .hero__ice {
      position: absolute;
      width: 484px;
      height: 590px;
      bottom: -77px;
      left: -121px;
      transform: translateX(150%);
    }
  }