.how-its-made-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  text-decoration: underline;
  color: #f8d24e;
  cursor: pointer;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
  }

  &:disabled {
    color: #ababab;
  }
}
