.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);
  // transition: opacity var(--transition-dur-and-func);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    scale: 0;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 56px);
  min-height: 986px;
  padding: 28px;

  scale: 1;
  // transition: scale var(--transition-dur-and-func);

  background-color: #fcfcfc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;

  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px transparent;
  padding: 0px;

  &:hover,
  &:focus {
    fill: #f8d24e;
  }
}

// modal text mobil

.franchise__text {
  margin-bottom: 24px;
  max-width: 240px;
}

.modal-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
  font-size: 14px;
  line-height: 1.35;

  color: rgba(19, 19, 19, 1);
}

//  mobal title mobil

.franchise__title {
  max-width: 221px;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;

  font-family: 'Seymour One', sans-serif;
  color: rgba(19, 19, 19, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

// modal window mobil

.franchise__modal {
  width: 280px;
  min-height: 674px;
}

.read__modal_win {
  width: 280px;
  min-height: 459px;
}

.location__modal {
  width: 280px;
  min-height: 365px;
}

.franchise__modal_form {
  display: flex;
  flex-direction: column;
}

.franchise__input {
  display: flex;
  height: 32px;
  width: 100%;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;

  &:hover,
  &:focus {
    border-color: rgba(10, 136, 23, 1);
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(19, 19, 19, 1);
  }
}

.franchise__text_form {
  margin-bottom: 12px;
}

.franchise__comment_form {
  margin-bottom: 24px;
}

.franchise__input_user {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  resize: none;
  outline: transparent;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--secondary-font-color);
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(19, 19, 19, 1);
  }
}

// Location

.location__map {
  margin-bottom: 24px;
}

.location__point {
  width: 224px;
  height: 199px;

  border-radius: 10px;
}

// read
.read__video {
  margin-bottom: 20px;
}

.read__point {
  width: 224px;
  height: 199px;

  border-radius: 10px;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 12px 34px;

  font-family: 'Montserrat', sans-serif;
  background: rgba(248, 210, 78, 1);
  color: rgba(19, 19, 19, 1);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;

  border: none;
  cursor: pointer;

  &:hover {
    background: rgba(10, 136, 23, 1);
  }

  &:focus {
    background: rgba(10, 136, 23, 1);
    color: rgba(252, 252, 252, 1);
  }

  &:disabled {
    background: rgba(171, 171, 171, 1);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal-window {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 568px;
  }
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %align;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  // transition: fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    fill: #f8d24e;
  }

  .modal-title {
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 1.4;
  }

  .franchise__title {
    margin-bottom: 24px;
    max-width: 322px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  // modal text drsctop

  .modal-text {
    font-size: 16px;
    line-height: 1.37;
  }

  .franchise__text {
    margin-bottom: 32px;
    max-width: 448px;
  }

  // modal window desctop

  .franchise__modal {
    padding: 32px 60px;
    width: 568px;
    min-height: 668px;
  }

  .location__modal {
    padding: 32px 60px;
    width: 568px;
    min-height: 458px;
  }

  .read__modal_win {
    padding: 32px 60px;
    width: 568px;
    min-height: 449px;
  }

  .franchise__text_form {
    margin-bottom: 16px;
  }

  .franchise__comment_form {
    margin-bottom: 32px;
  }

  .franchise__input {
    height: 42px;
    width: 368px;
    padding: 11px 16px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
  }

  .franchise__modal_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .franchise__input_user {
    height: 84px;
    width: 368px;
    padding: 11px 16px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    resize: none;
    outline: transparent;

    &:hover,
    &:focus {
      outline: none;
      border-color: var(--secondary-font-color);
    }
  }

  // location

  .location__map {
    margin-bottom: 32px;
  }

  .location__point {
    width: 448px;
    height: 260px;
  }

  // read

  .read__video {
    margin-bottom: 32px;
  }

  .read__point {
    width: 448px;
    height: 205px;
  }

  // close btn

  .modal__close-btn {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .modal-btn {
    font-size: 14px;
  }
}

// .buy-modal {}

// .modal-window__close-btn {}

// .modal-window__close-icon {}

// .modal-form__title {}

// .modal-form {}

// .chosen-product {}

// .chosen-product__checkbox {}

// .checkbox__item {}

// .checkbox {}

// .modal-form__field {}

// .modal-form__input-wrapper {}

// .modal-form__input {}

// .modal-form__comment-field {}

// .modal-form__comment {}

// .modal-form__submit-btn {}

// .button {}

// .ingredients-modal {}

// .composition {}

// .composition__item {}

// .composition__number-container {}

// .ingredients__title {}

// .ingredients__table {}
