.secondary-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: #000000;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
    color 400ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: #0a8817;
  }

  &:focus {
    border-color: #0a8817;
    color: #fcfcfc;
  }

  &:focus.chevron-right-icon {
    fill: #fcfcfc;
  }

  &:disabled {
    border-color: #ababab;
    color: #000000;
  }
}
